h1 {
    color: white;
}

p {
    color: white;
}
span{
    color: orange;
}

h5 {
    color: pink;
    margin-top: 10px;
}
.btn-primary {
    margin-top: 10px;
}

.birthday-form {
    margin-bottom: 10px;
}
.results{
    display: none;
}

label {
    color: orange;
}